name: Tests
on:
  workflow_call:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install dependencies
        run: python3 -m pip install tox
      - name: Run linters
        run: tox -e lint

  unit-test:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install dependencies
        run: python -m pip install tox
      - name: Run tests
        run: tox -e unit

  integration-test-microk8s:
    name: Integration tests (microk8s) ${{ matrix.ubuntu-version }}
    runs-on: ubuntu-${{ matrix.ubuntu-version }}
    strategy:
      matrix:
        ubuntu-version: ["22.04", "24.04"]
        module: [ test_charm, test_demo, test_packages ]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          juju-channel: 3.6/stable
          provider: microk8s
          channel: 1.29-strict/stable
      - name: Run integration tests
        run: tox -e integration -- -k ${{ matrix.module }}

  integration-test-lxd:
    name: Integration tests (LXD) ${{ matrix.arch }} Ubuntu ${{ matrix.ubuntu-version }}
    runs-on: [self-hosted, "${{ matrix.arch }}", "${{ matrix.ubuntu-codename }}"]
    strategy:
      matrix:
        arch: [s390x, arm64, ppc64le, amd64]
        ubuntu-version: ["22.04", "24.04"]
        module: [test_charm, test_packages]
        include:
          - ubuntu-version: "22.04"
            ubuntu-codename: jammy
          - ubuntu-version: "24.04"
            ubuntu-codename: noble
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          juju-channel: 3/stable
          provider: lxd
      - name: Install build dependencies
        run: sudo apt-get install -y cargo pkg-config
      - name: Run integration tests
        run: tox -e integration -- -k ${{ matrix.module }}
