name: Tests
on:
  push:
    branches:
      - main

jobs:
  run-tests:
    name: Run Tests
    uses: ./.github/workflows/ci.yaml

  publish-any-charm-amd64-22-04:
    name: Publish any-charm amd64 Ubuntu 22.04
    runs-on: ubuntu-22.04
    needs: [run-tests]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: canonical/setup-lxd@main
        with:
          channel: 5.21/stable
      - name: Upload Charm to Charmhub
        uses: canonical/charming-actions/upload-charm@2.7.0
        with:
          credentials: ${{ secrets.CHARMHUB_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          channel: latest/beta
          destructive-mode: false

  publish-any-charm-amd64-24-04:
    name: Publish any-charm amd64 Ubuntu 24.04
    runs-on: ubuntu-24.04
    needs: [run-tests]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: canonical/setup-lxd@main
        with:
          channel: 5.21/stable
      - name: Upload Charm to Charmhub
        uses: canonical/charming-actions/upload-charm@2.7.0
        with:
          credentials: ${{ secrets.CHARMHUB_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          channel: latest/beta
          destructive-mode: false

  publish-any-charm-arm64-22-04:
    name: Publish any-charm arm64 Ubuntu 22.04
    runs-on: [arm64, jammy]
    needs: [run-tests]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: canonical/setup-lxd@main
        with:
          channel: 5.21/stable
      - name: Upload Charm to Charmhub
        uses: canonical/charming-actions/upload-charm@2.7.0
        with:
          credentials: ${{ secrets.CHARMHUB_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          channel: latest/beta
          destructive-mode: false

  publish-any-charm-arm64-24-04:
    name: Publish any-charm arm64 Ubuntu 24.04
    runs-on: [arm64, noble]
    needs: [run-tests]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: canonical/setup-lxd@main
        with:
          channel: 5.21/stable
      - name: Upload Charm to Charmhub
        uses: canonical/charming-actions/upload-charm@2.7.0
        with:
          credentials: ${{ secrets.CHARMHUB_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          channel: latest/beta
          destructive-mode: false

  publish-any-charm-ppc64el-22-04:
    name: Publish any-charm ppc64el Ubuntu 22.04
    runs-on: [self-hosted, ppc64el, jammy]
    needs: [run-tests]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: canonical/setup-lxd@main
        with:
          channel: 5.21/stable
      - name: Upload Charm to Charmhub
        uses: canonical/charming-actions/upload-charm@2.7.0
        with:
          credentials: ${{ secrets.CHARMHUB_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          channel: latest/beta
          destructive-mode: false

  publish-any-charm-ppc64el-24-04:
    name: Publish any-charm ppc64el Ubuntu 24.04
    runs-on: [self-hosted, ppc64el, noble]
    needs: [run-tests]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: canonical/setup-lxd@main
        with:
          channel: 5.21/stable
      - name: Upload Charm to Charmhub
        uses: canonical/charming-actions/upload-charm@2.7.0
        with:
          credentials: ${{ secrets.CHARMHUB_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          channel: latest/beta
          destructive-mode: false

  publish-any-charm-s390x-22-04:
    name: Publish any-charm s390x Ubuntu 22.04
    runs-on: [self-hosted, s390x, jammy]
    needs: [run-tests]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: canonical/setup-lxd@main
        with:
          channel: 5.21/stable
      - name: Upload Charm to Charmhub
        uses: canonical/charming-actions/upload-charm@2.7.0
        with:
          credentials: ${{ secrets.CHARMHUB_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          channel: latest/beta
          destructive-mode: false

  publish-any-charm-s390x-24-04:
    name: Publish any-charm s390x Ubuntu 24.04
    runs-on: [self-hosted, s390x, noble]
    needs: [run-tests]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: canonical/setup-lxd@main
        with:
          channel: 5.21/stable
      - name: Upload Charm to Charmhub
        uses: canonical/charming-actions/upload-charm@2.7.0
        with:
          credentials: ${{ secrets.CHARMHUB_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          channel: latest/beta
          destructive-mode: false


  publish-any-charm-k8s-amd64-22-04:
    name: Publish any-charm-k8s amd64 Ubuntu 22.04
    runs-on: ubuntu-22.04
    needs: [run-tests]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: canonical/setup-lxd@main
        with:
          channel: 5.21/stable
      - name: Update metadata.yaml
        run: |
          yq eval '.name = "any-charm-k8s"' --inplace metadata.yaml
          yq eval '.containers = {"any": {"resource": "any-image"}}' --inplace metadata.yaml
          yq eval '.resources = {
            "any-image": {
              "type": "oci-image", 
              "description": "Any OCI image", 
              "upstream-source": "ubuntu:latest"
            }
          }' --inplace metadata.yaml
      - name: Upload Charm to Charmhub
        uses: canonical/charming-actions/upload-charm@2.7.0
        with:
          credentials: ${{ secrets.CHARMHUB_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          channel: latest/beta
          tag-prefix: any-charm-k8s
          destructive-mode: false

  publish-any-charm-k8s-amd64-24-04:
    name: Publish any-charm-k8s amd64 Ubuntu 24.04
    runs-on: ubuntu-24.04
    needs: [ run-tests ]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: canonical/setup-lxd@main
        with:
          channel: 5.21/stable
      - name: Update metadata.yaml
        run: |
          yq eval '.name = "any-charm-k8s"' --inplace metadata.yaml
          yq eval '.containers = {"any": {"resource": "any-image"}}' --inplace metadata.yaml
          yq eval '.resources = {
            "any-image": {
              "type": "oci-image", 
              "description": "Any OCI image", 
              "upstream-source": "ubuntu:latest"
            }
          }' --inplace metadata.yaml
      - name: Upload Charm to Charmhub
        uses: canonical/charming-actions/upload-charm@2.7.0
        with:
          credentials: ${{ secrets.CHARMHUB_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          channel: latest/beta
          tag-prefix: any-charm-k8s
          destructive-mode: false

  publish-any-charm-k8s-arm64-22-04:
    name: Publish any-charm-k8s arm64 Ubuntu 22.04
    runs-on: [arm64, jammy]
    needs: [ run-tests ]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: canonical/setup-lxd@main
        with:
          channel: 5.21/stable
      - name: Update metadata.yaml
        run: |
          yq eval '.name = "any-charm-k8s"' --inplace metadata.yaml
          yq eval '.containers = {"any": {"resource": "any-image"}}' --inplace metadata.yaml
          yq eval '.resources = {
            "any-image": {
              "type": "oci-image",
              "description": "Any OCI image",
              "upstream-source": "ubuntu:latest"
            }
          }' --inplace metadata.yaml
      - name: Upload Charm to Charmhub
        uses: canonical/charming-actions/upload-charm@2.7.0
        with:
          credentials: ${{ secrets.CHARMHUB_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          channel: latest/beta
          tag-prefix: any-charm-k8s
          destructive-mode: false

  publish-any-charm-k8s-arm64-24-04:
    name: Publish any-charm-k8s arm64 Ubuntu 24.04
    runs-on: [arm64, noble]
    needs: [ run-tests ]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: canonical/setup-lxd@main
        with:
          channel: 5.21/stable
      - name: Update metadata.yaml
        run: |
          yq eval '.name = "any-charm-k8s"' --inplace metadata.yaml
          yq eval '.containers = {"any": {"resource": "any-image"}}' --inplace metadata.yaml
          yq eval '.resources = {
            "any-image": {
              "type": "oci-image",
              "description": "Any OCI image",
              "upstream-source": "ubuntu:latest"
            }
          }' --inplace metadata.yaml
      - name: Upload Charm to Charmhub
        uses: canonical/charming-actions/upload-charm@2.7.0
        with:
          credentials: ${{ secrets.CHARMHUB_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          channel: latest/beta
          tag-prefix: any-charm-k8s
          destructive-mode: false
